.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

/* .header__square-pic:hover {
  animation: rotation 20s infinite linear;
}

.header__main-illustration:hover + .header__square-pic {
  animation: rotation 20s infinite linear;
} */