.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  /* color: #2f80ed; */
  color: black;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  transition: opacity .3s ease-out;
}

.feynman__link:hover {
  /* color: #82b2f4; */
  opacity: 0.5;
}