.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 64px;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 10;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-weight: bold;
  font-size: 102px;
  z-index: 11;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  width: 388px;
  margin: 0;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  z-index: 10;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  width: 568px;
  height: 568px; 
  background-color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  width: 765px;
  height: 608px;
}

/* content */
.content {
  margin: 0;
  padding: 0;
}

/* description */
.description {
  margin: 0;
  display: flex;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* min-height:  */
  margin: 100px auto 0 auto;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-of-type(1) {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* digits */
.digits {
  margin: 0;
  padding: 100px 0 0 0;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.table_width_l {
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* feynman */
.feynman {
  position: relative;
  background: url(../images/feynman.png);
  background-size: 867px 637px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 790px;
  margin: 0;
  padding: 0;
}

.feynman__title {
  width: 648px;
  margin: 100px auto 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  line-height: 51px;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* footer */
/*
.footer {
  height: 100vh;
  min-height: 350px;
  max-height: 756px;

  margin: 0;
  position: relative;
  display: flex;
  flex-basis: 711px;
  align-items: center;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f; 
}

.footer__columns {
  width: 90%;
}
.footer__columns {
  width: 90%;
}
*/